.hero {
  height: 110vh;
  background-image: url('https://github.com/bioexpressfl-beep/bioexpressfl.github.io/blob/main/LOGO%20MELHORADO.png?raw=true');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 60px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  color: white;
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero p {
  color: white;
  font-size: 1.3rem;
  margin-top: 20px;
  max-width: 450px;
}
