.hero {
  height: 150vh;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url('https://github.com/bioexpressfl-beep/bioexpressfl.github.io/blob/main/LOGO%20MELHORADO.png?raw=true');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding: 60px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  color: white;
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero p {
  color: white;
  font-size: 1.3rem;
  margin-top: 20px;
  max-width: 450px;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .hero-content {
    padding-left: 10px !important;   /* empurra o texto para a esquerda */
    padding-right: 20px;
    text-align: left !important;     /* texto alinhado à esquerda */
  }

  .hero h1 {
    font-size: 3.5rem;   /* opcional: um pouco menor no mobile */
    line-height: 1.05;
  }

  .hero p {
    font-size: 1rem;
    max-width: 200px;   /* mantém parágrafo alinhado à esquerda, 320px antes */ 
  }
}


/* ===== LAPTOP / DESKTOP ===== */
@media (min-width: 1024px) {
  .hero-content {
    margin-top: -40px;   /* sobe o título – ajuste conforme quiser, -60px antes*/
  }

  .hero h1 {
    font-size: 4rem;     /* diminui um pouco – estava 8rem antes */
    line-height: 1.05;
  }

  .hero p {
    font-size: 1.3rem;
  }
}
