.hero {
  height: 150vh;

  /* camada escura + imagem JUNTAS */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),  /* film escuro */
    url('https://github.com/bioexpressfl-beep/bioexpressfl.github.io/blob/main/LOGO%20MELHORADO.png?raw=true'); /* imagem */

  background-size: cover;        /* cobre tudo, sem faixa preta */
  background-position: center;   /* foca no centro */
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding: 60px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  color: white;
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero p {
  color: white;
  font-size: 1.3rem;
  margin-top: 20px;
  max-width: 450px;
}
